
.TopHeading{
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
    // color: white;
}
.SubHeading{
    font-family: 'Parisienne', cursive;
    // color: white;
}
.InfoText{
    font-family: 'Caveat', cursive;
    // color: white;
}